.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.home__header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
}

.home__header a:hover {
  text-decoration: underline;
}

.home__headerAvatar.MuiAvatar-root {
  width: 32px;
  height: 32px;
}

.home__headerLeft,
.home__headerRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
}

.home__headerRight {
  justify-content: space-between;
}

.home__headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
}

.home__body > img {
  object-fit: contain;
  padding-top: 109px;
  height: 92px;
}
